<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Practice.Self.TestNgLog"/>
      <class name="Practice.Self.DataProviderTestNG"/>
      <class name="Practice.Self.DataProviderRealPractice"/>
      <class name="Practice.Self.SkipDemoTest"/>
      <class name="Practice.Self.GroupsTestNG"/>
      <class name="Practice.Self.DataProviderPractice"/>
      <class name="Practice.Self.verifyTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
